<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>

        <ul class="list-group">
            <li *ngFor="let subItem of item.items" class="list-group-item">
                {{subItem.name}}
            </li>
        </ul>

        <form #newItemForm="ngForm" (ngSubmit)="saveItems()" novalidate autocomplete="off">

            <input [(ngModel)]="newItem.name" name="name" required type="text" class="form-control" placeholder="Item description..."/>

        </form>

    </div>
</div>