<ul class="list-group">
    <li *ngFor="let subItem of item.items" class="list-group-item">
        {{subItem.name}}
    </li>
</ul>

<form #newItemForm="ngForm" (ngSubmit)="saveItems(newItemForm.value)" novalidate *ngIf="addMode">

    <input (ngModel)="newItem.name" name="name" required id="name" type="text" class="form-control" placeholder="Item description..."
        *ngIf="addMode" />

    <button [disabled]="newItemForm.invalid" class="btn btn-primary">Save</button>
</form>


<button [disabled]="addMode" class="btn btn-primary" (click)="enterAddMode()">Add Mode</button>