<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10" [ngSwitch]="container.containerType">

            <!-- Historical list -->
            <div *ngSwitchCase="'historical'">
                <historical-list [container]="container"></historical-list>
            </div>

            <!-- Default list -->
            <ul class="list-group" *ngSwitchDefault>
                This is not a valid list :(
            </ul>


        </div>
        <div class="col-1"></div>
    </div>
</div>