<div class="container">
    <div class="jumbotron" style="text-align: center;">
        <h1>Objectifi</h1>
        <p>Hey, that's pretty neat
        </p>
    </div>

    <div class="row">
        <div class="col" style="text-align: center; padding-top: 50px;" *ngFor="let container of containers">
            <list-item [container]="container"></list-item>
        </div>
    </div>


    <div class="row" style="padding-top:20px">
        <div class="col">
            <a [routerLink]="['/createlist']" class="btn btn-primary">Create List</a>
        </div>
    </div>

</div>