<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10" [ngSwitch]="item.type">

            <!-- Consumer list -->
            <div *ngSwitchCase="'consumer'">
                <app-consumer [item]="item"></app-consumer>
            </div>

            <!-- Todo list -->
            <div *ngSwitchCase="'todo'">
                <todo-list [item]="item"></todo-list>
            </div>

            <!-- Historical list -->
            <div *ngSwitchCase="'historical'">
                <historical-list [item]="item"></historical-list>
            </div>

            <!-- Default list -->
            <ul class="list-group" *ngSwitchDefault>
                This is not a valid list :(
            </ul>


        </div>
        <div class="col-1"></div>
    </div>
</div>