<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6" [ngSwitch]="item.type">

            <!-- Consumer list -->
            <div *ngSwitchCase="'consumer'">
                <app-consumer [item]="item"></app-consumer>
            </div>

            <!-- Todo list -->
            <div *ngSwitchCase="'todo'">
                <app-todo-list [item]="item"></app-todo-list>
            </div>

            <!-- Historical list -->
            <ul class="list-group" *ngSwitchCase="'historical'">
                <li class="list-group-item" *ngFor="let subItem of item.items">
                    {{subItem.name}}
                </li>
            </ul>

            <!-- Default list -->
            <ul class="list-group" *ngSwitchDefault>
                This is not a valid list :(
            </ul>


        </div>
        <div class="col-3"></div>
    </div>
</div>