<!-- <ul *ngFor="let task of base.todo.tasks">
  <li>
    {{task.name}} -> {{task.description}}
  </li>
</ul> -->

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col"></div>
    <div class="mdl-cell mdl-cell--4-col" style="text-align: center;">
      <h2>
        Todo
      </h2>
    </div>
    <div class="mdl-cell mdl-cell--4-col"></div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col"></div>
  <div class="mdl-cell mdl-cell--6-col">
    <table style="margin: 0 auto; width: 50%;" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of base.todo.tasks">
          <td class="mdl-data-table__cell--non-numeric">{{task.name}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{task.description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mdl-cell mdl-cell--3-col"></div>
</div>